/**
 * layout.scss
 *   The sections of a page. Layouts hold modules and position
 *   them on the screen.
*/

//import vars and mixins to use
@import '_vars';
@import '_mixins';


/* SIDEBAR */
#sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $storm-blue;
  vertical-align: middle;
  position:relative;
  z-index:100;
}

.sidebar-brand {
  position: absolute;
  top: 10px;
  left: 15px;
}

.workspaceCard {
  color:black;
  font-size:18px;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  border-bottom: 5px solid #9acc60;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.ideaGroup {
  display:inline-block;
  position:absolute;
  padding: 10px;
}

.collectionShadow {
  background-color: #e6e6e6;
  border-radius: 3px;
  border: 2px solid #d9d9d9;
}

.idea {
  font-size: 15px;
  word-wrap: break-word;
  padding: 15px;

  &.deleting {
    background-color: red;
  }
}
