/**
 * layout.scss
 *   The sections of a page. Layouts hold modules and position
 *   them on the screen.
*/

//import vars and mixins to use
@import '_vars';
@import '_mixins';
/* SIDEBAR */

.sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  position: relative;
  height: 100vh;
  background-color: $storm-blue;
  vertical-align: middle;
  position: relative;
  z-index: 100;
}

.sidebar-brand {
  position: absolute;
  top: 10px;
  left: 15px;
}

.workspaceCard {
  color: black;
  font-size: 18px;
  background-color: white;
  text-align: center;
  border-radius: 3px;
  border-bottom: 5px solid #9acc60;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.ideaGroup {
  display: inline-block;
  position: absolute;
  padding: 10px;
}

.collectionShadow {
  background-color: #e6e6e6;
  border-radius: 3px;
  border: 2px solid #d9d9d9;
}

.idea {
  font-size: 15px;
  word-wrap: break-word;
  padding: 15px;
  &.deleting {
    background-color: red;
  }
}
/* Loading overlay */

.loadingOverlay {
  background-color: #34578f;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: absolute;
  top: -120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: top 1.0s ease-in-out;
  -webkit-transition: top 1.0s ease-in-out;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  &.active {
    top: 0px;
  }
  .loadingAnimation {
    margin: 0 auto;
    width: 90px;
    .square {
      float: left;
      background-color: #fff;
      width: 20px;
      height: 20px;
      margin: 5px;
      border-radius: 3px;
      -webkit-transform: scale(0.0);
      -ms-transform: scale(0.0);
      transform: scale(0.0);
      opacity: 0;
      animation: sizeSquare 3.2s ease infinite;
      /* delay each square */

      &:nth-child(1) {
        -webkit-animation-delay: 0.0s;
        animation-delay: 0.0s;
      }
      &:nth-child(2) {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
      }
      &:nth-child(4) {
        -webkit-animation-delay: 1.0s;
        animation-delay: 1.0s;
      }
      &:nth-child(7) {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
      }
      &:nth-child(8) {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
      }
      &:nth-child(9) {
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s;
      }
    }
  }
}

.appContainer {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  .navBarTab {
    height: 35px;
    width: 135px;
  }
}
/* WORKSPACE */

.dragContainer,
.workspace {
  flex-grow: 1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.workspace {
  height: 100vh;
  width: 100%;
}

.trashCan {
  position: absolute;
  right: 0;
  bottom: 0;
  border-top-left-radius: 3px;
}

/* loading animation*/

@-webkit-keyframes sizeSquare {
  0%, 15% {
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }
  85%,
  100% {
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
  }
  .resultsControls {
    float: right;
    margin-top: 40px;
  }
  .resultsHeading {
    display: inline-block;
  }
}
/* Styles for landing page */

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* For all slides on landing page */

.homeSlide {
  position: absolute;
  width: 100%;
}
/* Landing slides position and layering for parallax */

#slide-1 {
  z-index: 40;
  top: 0;
}

#slide-2 {
  z-index: 30;
  margin-top: 100vh;
}

#slide-3 {
  z-index: 10;
  position: fixed;
  top: 0px;
}

#slide-4 {
  z-index: 30;
  margin-top: 300vh;
}

#slide-5 {
  z-index: 20;
  margin-top: 400vh;
}
/* Centered landing content sections */

.centered {
  justify-content: center;
}
/* Landing content sections */

.contentContainer {
  display: flex;
  height: calc(100vh - 50px);
}
/* Landing content sections displayed in a column */

.column {
  flex-direction: column !important;
}
/* Landing content sections displayed in a row */

.row {
  flex-direction: row !important;
  margin: 0;
}

img {
  vertical-align: bottom !important;
}
/* Landing slide1 content */

.page1 {
  /* Landing slide 1 header */

  .header {
    display: flex;
    img {
      width: 40px;
      height: 40px;
      position: relative;
      top: 25px;
      margin-right: 5px;
    }
    .landingNav {
      margin: 0;
      padding: 20px;
      li {
        display: inline-block;
        padding: 0px 20px;
      }
    }
  }
  /* Full content excluding images */

  .content {
    display: flex;
    position: relative;
    text-align: left;
    .contentRow {
      display: flex;
      margin-top: 50px;
    }
    .joinLinks {
      max-width: 275px;
      p {
        margin-top: 10px;
      }
    }
    .textCopy {
      max-width: 458px;
    }
  }
  /* Cody and Doug images */

  .images {
    height: 100%;
    .codyImg {
      position: relative;
      left: 0;
      height: 100%;
      bottom: 0;
      padding-top: 24vh;
    }
    .dougImg {
      position: relative;
      height: 100%;
      margin-left: 44px;
      top: 0;
      padding-bottom: 32vh;
    }
    .dougShoesImg {
      bottom: 0;
      position: relative;
      width: 90px;
      height: auto;
    }
  }
  /* What is Bloxeo? Footer */

  .footer {
    height: 50px;
    width: 100%;
    text-align: center;
    position: relative;
  }
}
/* Landing slide 4 content */

.page5 {
  text-align: center;
  .images {
    .eggImg {
      margin-top: 115px;
      margin-bottom: 50px;
    }
  }
  .textContent {
    margin-bottom: 80px;
  }
  .NSA {
    margin-top: 100px !important;
  }
  p {
    width: 320px;
    margin: 0 auto;
    margin-top: 10px;
  }
  h1 {
    margin: 0;
  }
  input {
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 0px;
    display: block;
  }
  .createRoomButton a {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 320px;
  }
}
/* Landing create and join buttons */

.createRoomButton a,
.joinRoomButton a {
  display: block;
  height: 48px;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
  line-height: 45px;
  color: white;
}

.idea {
  font-size: 15px;
  word-wrap: break-word;
  padding: 15px;
  &.deleting {
    background-color: red;
  }
}

/* Loading overlay */
.loadingOverlay {
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  position: absolute;
  top: -100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: top 0.5s ease-in-out;
  -webkit-transition: top 0.5s ease-in-out;

  &.active {
    top: 0px;
  }
  .loadingAnimation {
    margin: 0 auto;
    width: 90px;
    .square {
      float: left;
      background-color: #34578f;
      width: 20px;
      height: 20px;
      margin: 5px;
      border-radius: 3px;
      opacity: 0;
      animation: sizeSquare 4.8s ease infinite;

      /* delay each square */
      &:nth-child(1){
        -webkit-animation-delay: 0.0s;
        animation-delay: 0.0s;
      }
      &:nth-child(2){
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
      }
      &:nth-child(3){
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
      }
      &:nth-child(6){
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      &:nth-child(5){
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
      }
      &:nth-child(4){
        -webkit-animation-delay: 1.0s;
        animation-delay: 1.0s;
      }
      &:nth-child(7){
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s;
      }
      &:nth-child(8){
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
      }
      &:nth-child(9){
        -webkit-animation-delay: 1.6s;
        animation-delay: 1.6s;
      }
    }
  }
}

/* loading animation*/
@-webkit-keyframes sizeSquare {
  0%, 15% {
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
  }

  25%, 75% {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 1
  }

  85%, 100% {
    -webkit-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);
    opacity: 0;
  }
}
