//mixins

@mixin font-regular() {
  font-family: $font-primary;
  font-weight: 400;
}

@mixin font-light() {
  font-family: $font-primary;
  font-weight: 300;
}

@mixin font-bold() {
    font-family: $font-primary;
    font-weight: 700;
}