/**
 * modules.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections and so on.
 */

//import vars and mixins to use
@import '_vars';
@import '_mixins';

.button {
  display: inline-block;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 14px;
  &:hover {
    color: white;
  }
}

#sidebar-info {
  color: white;
  padding: 30px 26px 0;

  .sidebar-section {
    margin: 20px 0;

    /* Room Info Box */
    #room-name {
      font-size: 18px;
      line-height: 1;
      margin-bottom: 5px;
    }

    #room-description {
      @include font-light();
    }

    /* Member List */
    .circleMemberIcon {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 1;
      font-size: 10px;
      padding-top: 10px;
      margin-right: 10px;
      color: white;
      background-color: $storm-orange;
      border-radius: 50%;
      display: inline-block;
    }

    .circleMemberIcon:nth-child(2) {
      background-color: $storm-cyan;
    }
  }
}

.sidebar-brand {
  @include font-bold();
}

.sidebar-create {
  display: flex;
  padding: 10px;

  .idea-create {
    padding: 0 10px;
    margin-right: 10px;
    width: 100%;
    height: 30px;
    color: $storm-primary;
    appearance: none;
    box-shadow: none;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: white;
  }

  .enterButton {
    background-color: $storm-green;
    padding: 5px 8.5px;
    border-radius: 2px;
    cursor: pointer;

    &.is-disabled {
      background-color: $storm-disabledGray;
      cursor: default;
    }

    i {
      color: white;
    }
  }
}

/* Timer */
.timerBox {
  color: white;
  padding: 8px 10px 0;

  .timer {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
    vertical-align: middle;
  }

  .progress {
    display: inline-block;
    width: 188px;
    height: 3px;
    vertical-align: middle;
    background-color: $storm-blueGray;
    filter: brightness(100%);
    margin-bottom: 0;

    .progress-bar {
      background-color: $storm-coral;
      -webkit-transition: width 1s linear;
      transition: width 1s linear;
    }
  }

  .timer-btn {
    cursor: pointer;
    margin-right: 10px;
    &.start {
      color: white;
    }
    &.stop {
      color: white;
    }
  }
}

.sidebar-voteSection {
  text-align: center;
  margin: 15px 0;

  .callVoteButton {
    padding: 9px 20px;
    margin: 5px 0;
    border-radius: 2px;
    font-size: 10px;
    background-color: $storm-green;
    text-transform: uppercase;

    &.is-disabled {
      background-color: $storm-blueGray;
    }
  }

  .waitingSection {
    font-size: 10px;
    margin-top: 7px;
    &:nth-child(3) {
      margin-left: 20px;
    }
  }

  .waitingText {
    margin-right: 14px;
  }

  .waitingCircle {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: $storm-orange;

    /* hardcoded for now, colors will have to be associated with users */
    &:nth-child(2) {
      background-color: $storm-cyan;
    }
  }

  .waitingText, .waitingCircle {
    display: inline-block;
    vertical-align: middle;
  }
}

.wordbank {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-color: $storm-blueLight;
  z-index: 100;
  width: 100%;
  transition: width 0.5s ease-in-out;

  &.expanded {
    width: 200%;
  }

  .wordbankIdeas {
    flex-grow: 1;
    overflow: auto;
    padding: 15px;
    text-align: center;

    .bankCard {
      color: white;
      font-size: 13px;
      padding: 8px 18px;
      background-color: $storm-blueGray;
      display: inline-block;
      margin: 4px;
      border-radius: 2px;
      line-height: 1;
      cursor: pointer;
    }
  }

  .expandArrow {
    position: absolute;
    top: 55%;
    padding: 17px 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: white;
    background-color: $storm-blueLight;
    cursor: pointer;
  }
}

