/**
 * modules.scss
 *   The reusable, modular parts of the design. They are the callouts, the
 *   sidebar sections and so on.
 */

//import vars and mixins to use
@import '_vars';
@import '_mixins';

$modal-header-height: 48px;

.modalHeader {
  min-height: $modal-header-height;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 1px 1px #888;
  -webkit-box-shadow: 0 1px 1px #888;
     -moz-box-shadow: 0 1px 1px #888;
       -o-box-shadow: 0 1px 1px #888;

  .modalTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    padding-top: 0;
    letter-spacing: 0;
    font-size: 20px;
    line-height: $modal-header-height;

    color: $storm-primary;
    // box-flex: 1;
    // flex: 1;
    // display: inline-block;
    // width: 100%;
    // padding: 10px 0;
  }

  .modalClose {
    height: $modal-header-height;
    width: $modal-header-height;
    right: 0;
    top: 0;
  }
}

.modalContent {
  height: calc(100% - 160px);
  padding: 15px 30px;
  .modalBreak {
    height: 1px;
    border-bottom: 1px solid $storm-secondaryLightGrey;
  }
  .modalSection {
    margin: 15px 0;
    .modalInput {
      width: 100%;
      padding: 6px 10px 5px 10px;
      border: 1px solid $storm-secondaryLightGrey;
      border-radius: 3px;
    }
    .modalUserText {
      display: inline-block;
      padding: 5px;
    }
    .modalUserIcon {
      display: inline-block;
      float: right;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 1;
      font-size: 10px;
      padding-top: 10px;
      margin: 0 2px;
      color: $storm-textWhite;
      background-color: $storm-secondaryLightGrey;
      border-radius: 50%;
      display: inline-block;
    }
  }
}

.modalTerms {
  text-align: center;
  padding: 0 30px;

  a {
    text-decoration: underline;
  }
}

.modalFooter {
  display: block;
  position: relative;
  // bottom: 0;
  width: 100%;
  float: left;
  text-align: center;

  .modalButton {
    width: 100%;
    padding: 15px 0;
    color: $storm-textWhite;
    background-color: $storm-activeGreen;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.button {
  display: inline-block;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 14px;
  &:hover {
    color: white;
  }
}

.sidebar-info {
  color: white;
  padding: 30px 26px 0;
  .sidebar-section {
    margin: 20px 0;
    /* Room Info Box */
    .room-name {
      font-size: 18px;
      line-height: 1;
      margin-bottom: 5px;
    }

    .room-description {
      @include font-light();
    }

    .roomInfoInput {
      color: $storm-primary;
      width: 100%;
      padding: 0 3px;
      margin-bottom: 5px;
      border: 0;
      border-radius: 2px;
    }

    /* Member List */

    .circleMemberIcon {
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 1;
      font-size: 10px;
      padding-top: 10px;
      margin-right: 10px;
      color: white;
      background-color: $storm-orange;
      border-radius: 50%;
      display: inline-block;
    }
    .circleMemberIcon:nth-child(2) {
      background-color: $storm-cyan;
    }
  }
}

.sidebar-brand {
  @include font-bold();
}

.sidebar-create {
  display: flex;
  padding: 10px;
  .idea-create {
    padding: 0 10px;
    margin-right: 10px;
    width: 100%;
    height: 30px;
    color: $storm-primary;
    appearance: none;
    box-shadow: none;
    border-radius: 2px;
    border: none;
    outline: none;
    background-color: white;
    &.is-disabled {
      background-color: $storm-disabledGray;
      cursor: default;
      &::-webkit-input-placeholder {
        color: white;
      }
      &:-moz-placeholder {
        color: white;
      }
      &::-moz-placeholder {
        color: white;
      }
      &:-ms-input-placeholder {
        color: white;
      }
    }
  }
  .enterButton {
    background-color: $storm-green;
    padding: 5px 8.5px;
    border-radius: 2px;
    cursor: pointer;
    &.is-disabled {
      background-color: $storm-disabledGray;
      cursor: default;
    }
    i {
      color: white;
    }
  }
}
/* Timer */

.timerBox {
  color: white;
  padding: 8px 10px 0;
  .timer {
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
    vertical-align: middle;
  }
  .progress {
    display: inline-block;
    width: 188px;
    height: 3px;
    vertical-align: middle;
    background-color: $storm-blueGray;
    filter: brightness(100%);
    margin-bottom: 0;
    .progress-bar {
      background-color: $storm-coral;
      -webkit-transition: width 1s linear;
      transition: width 1s linear;
    }
  }
  .timer-btn {
    cursor: pointer;
    margin-right: 10px;
    &.start {
      color: white;
    }
    &.stop {
      color: white;
    }
  }
}

.sidebar-voteSection {
  text-align: center;
  margin: 15px 0;
  height: 60px;

  .callVoteButton {
    padding: 9px 20px;
    margin: 5px 0;
    border-radius: 2px;
    font-size: 10px;
    background-color: $storm-green;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
  }
  .waitingSection {
    font-size: 10px;
    margin-top: 7px;
    &:nth-child(3) {
      margin-left: 20px;
    }
  }
  .waitingText {
    margin-right: 14px;
  }
  .waitingCircle {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: $storm-orange;
    &:nth-child(2) {
      background-color: $storm-cyan;
    }
  }
  .waitingText,
  .waitingCircle {
    display: inline-block;
    vertical-align: middle;
  }
}

.wordbank {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: $storm-blueLight;
  z-index: 100;
  width: 100%;
  transition: width 0.5s ease-in-out;
  &.expanded {
    width: 200%;
  }
  .wordbankWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover {
     overflow-x: auto;
    }
    .wordbankIdeas {
      position: absolute;
      width: 600px;
      flex-grow: 1;
      padding: 15px;
      text-align: center;
      -webkit-columns: auto 270px;
      -moz-columns: auto 270px;
      columns: auto 270px;
      .bankCard {
        color: white;
        font-size: 13px;
        padding: 8px 18px;
        background-color: $storm-blueGray;
        display: inline-block;
        margin: 4px;
        border-radius: 2px;
        line-height: 1;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 230px;
        overflow: hidden;
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
      }
    }
  }
  .expandArrow {
    position: absolute;
    top: 45%;
    right: -22px;
    padding: 17px 6px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: white;
    background-color: $storm-blueLight;
    cursor: pointer;
  }
}

.bankCard {
  display: inline-block;
  color: white;
  font-size: 13px;
  padding: 8px 18px;
  background-color: $storm-blueGray;
  margin: 4px 4px 0;
  border-radius: 2px;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 230px;
  overflow: hidden;
  transform: none !important;
  -webkit-transform: none !important;
     -moz-transform: none !important;
      -ms-transform: none !important;
       -o-transform: none !important;
}

.roomOptions {
  width: 250px;
  .optionContent {
    padding: 20px;
    .optionTitle {
      margin-bottom: 20px;
    }
    .optionSection {
      vertical-align: middle;
      margin: 15px 0;
      height: 26px;
      .optionText {
        display: inline-block;
        font-size: 10px;
        width: 150px;
      }
      .optionInput {
        text-align: center;
        display: inline-block;
        float: right;
        width: 30px;
        height: 26px;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    }
  }
  .optionFooter {
    width: 100%;
    .optionButton {
      text-transform: uppercase;
      width: 100%;
      border: 0px;
      padding: 10px 0;
      color: #fff;
      background: $storm-green;
      &:focus {
        outline: 0;
      }
    }
  }
}

.toggleButton {
  display: inline-block;
  position: relative;
  float: right;
  cursor: pointer;
  margin: 10px 8px;
  .toggleRadio {
    width: 18px;
    height: 7px;
    border-radius: 50px;
    opacity: 0.5;
    &.enable {
      background-color: $storm-green;
    }
    &.disable {
      background-color: $storm-disabledGray;
    }
  }
  .toggleSlider {
    position: absolute;
    top: -3px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    &.enable {
      right: -3px;
      background-color: $storm-green;
      box-shadow: 1px 1px 1px #ddd;
    }
    &.disable {
      left: -3px;
      background-color: #fff;
      box-shadow: -1px 1px 1px #ddd;
    }
  }
}

.workspaceCard {
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.35);
  position: relative;
}
/**
  All code below transfered from OldCSS
**/
/* VOTING */

.votingContent {
  background-color: $storm-voting-bgColor;
  padding: 110px 30px;
  text-align: center;
}

.votingResults {
  background-color: $storm-voting-bgColor;
  padding: 40px;
}

.votingResults-ideas {
  margin-bottom: 38px;
}

.yesButton {
  background-color: green;
  margin-right: 20px;
}

.noButton {
  background-color: gray;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noMargin {
  margin: 0;
}

.noPadding {
  padding: 0;
}

.idea {
  &:after {
    transition: opacity .3s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "\f047";
    font-family: FontAwesome;
    font-size: 14px;
    color: #b6b6b6;
    padding: 5px;
  }
  &:hover:after {
    opacity: 1;
  }
  &.deleting {
    background-color: red;
  }
}
/* LANDING PAGE */

.landingPage {
  text-align: center;
}
/* NAVBAR */

.navBar {
  background-color: $storm-darkGray;
  .navBarTab {
    text-align: center;
    margin: 20px 0 0 14px;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    padding: 8px 33px;
    font-size: 14px;
    color: #777777;
    background-color: $storm-disabledGray;
    cursor: pointer;
  }
  .btn-link {
    color: $storm-primary;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .cogButton {
    border: 0;
    background: transparent;
    float: right;
    padding: 17px 17px;
    span[name="cog"] {
      color: $storm-workspace-bgColor;
    }
    &:focus {
     outline: none;
    }
  }
}

.dropdown-menu {
  width: 200px;
  .dropdown-item {
    padding: 3px 20px;
  }
  .dropdown-text {
    font-size: 10px;
  }
}
/* WORKSPACE */

.dragContainer,
.workspace {
  background-color: $storm-workspace-bgColor;
}

.workspace {
  overflow: none;
}

.trashCan {
  font-size: 35px;
  padding: 20px;
  color: #b6b6b6;
  border: 1px solid #e2e2e2;
  background-color: $storm-workspace-bgColor;
}
/* RESULTS */

.results {
  padding: 60px 40px;
  box-sizing: border-box;
  overflow-y: auto;
  .resultContainer {
    margin: 15px 90px 50px 0;
    .resultGroup {
      .resultGroupItem {
        font-size: 25px;
        text-align: center;
        color: white;
        background-color: MediumSeaGreen;
        margin: 2px;
        padding: 10px 30px;
      }
    }
    .resultVotes {
      color: $storm-primary;
      margin-left: 5px;
      .resultVotesStar {
        color: gold;
        font-size: 35px;
        line-height: 1;
        padding: 0 4px;
        line-height: 0.8;
      }
    }
  }
}

.resultsControls > a {
  cursor: pointer;
  margin-left: 25px;
  color: dodgerblue;
}
/* Modals */

.modalHeading {
  position: relative;
  font-size: 18px;
  color: white;
  background-color: $storm-darkGray;
  padding: 10px 0;
}
/* Voting */

.votingModal {
  position: relative;
  background-color: white;
  text-align: center;
}

.votingModal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.voteProgress {
  position: absolute;
  right: 0;
  color: $storm-secondaryLightGrey;
  font-size: 12px;
  padding: 5px 10px 0 0;
}

.voteCollection {
  padding: 13px 15px;
  text-align: left;
  min-width: 320px;
  min-height: 270px;
  max-height: 370px;
  overflow: auto;
}

.voteIdea {
  display: inline-block;
  background-color: $storm-lightGray;
  padding: 7px 13px;
  border-radius: 3px;
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 1;
}

.voteIdeaBlock:last-child > .voteIdea {
  margin-bottom: 0;
}

.voteButton-section {
  border-top: 1px solid $storm-secondaryLightGrey;
  padding: 10px;
}

.votingResults-ideas {
  margin-bottom: 38px;
}

.yesButton {
  background-color: $storm-green;
  margin-right: 60px;
}

.noButton {
  background-color: $storm-coral;
}

.yesButton,
.noButton {
  display: inline-block;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;
}

.yesButton > i,
.noButton > i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: white;
}
/* Results */

.results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 70px 55px 0;
  box-sizing: border-box;
}

.resultsHeading {
  @include font-bold();
  color: $storm-blue;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 0;
}

.resultsRoomName {
  @include font-bold();
  font-size: 18px;
  margin-bottom: 5px;
}

.resultsVoteTime {
  color: $storm-green;
  font-style: italic;
  margin-bottom: 30px;
}

.resultsColumns {
  flex: 1 1 auto;
  overflow-y: auto;
}

.resultContainer {
  display: inline-block;
  vertical-align: top;
  background-color: $storm-blueLight;
  padding: 12px;
  border-radius: 3px;
  width: 263px;
  margin: 0 20px 20px 0;
  transition: all ease 0.2s;
}

.resultIdea {
  cursor: default;
}

.resultVotes {
  display: inline-block;
  position: relative;
  color: $storm-darkGray;
  margin: 0 0 7px 5px;
}

.resultVotesNumber {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: $storm-blueLight;
}

.resultVotesHeart {
  color: white;
  font-size: 30px;
  line-height: 1;
}

.selectButton {
  float: right;
  background-color: white;
  line-height: 1;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.resultPlusIcon {
  color: $storm-blueLight;
  width: 14px;
  height: 14px;
  text-align: center;
}
/* Styles for landing page */

.landingPage {
  height: 100vh;
}

.page1 {
  background-color: #fff;
  .joinLinks {
    p {
      color: #464a55;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .textCopy {
    color: #474b55;
    h1 {
      font-size: 55px;
      font-weight: 300;
      line-height: 58px;
    }
    p {
      font-size: 23px;
      line-height: 28px;
    }
  }
  .footer {
    background-color: #1cbbb4;
    color: #ffffff;
    line-height: 48px;
    p {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.page2 {
  background-color: #1cbbb4;
  color: #ffffff;
  text-align: center;
  .images {
    width: 100%;
    margin-bottom: 85px;
    .laptopImg {
      width: 70%;
      margin: 0 auto;
    }
  }
  .textContainer {
    h1 {
      font-size: 45px;
      font-weight: 400;
      line-height: 50px;
    }
    p {
      font-size: 23px;
      line-height: 30px;
      max-width: 1080px;
      font-weight: 100;
      margin: 0 auto;
    }
  }
}

.page3 {
  background-color: #282828;
  .images {
    width: 768px;
    max-width: 786px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .whiteboardImg {
      width: 100%;
    }
  }
  .textContainer {
    margin-right: 200px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    p {
      font-size: 18px;
    }
  }
}

.page4 {
  background-color: #fff;
  .textContent {
    text-align: center;
    p {
      font-size: 45px;
      color: #4f4f4f;
      @include font-light();
    }
  }
  .images {
    margin: 0 auto;
    .poweredByImg {
      height: 350px;
      width: 350px;
      &:nth-of-type(2) {
        margin: 0px 78px;
      }
    }
  }
}

.page5 {
  background-color: #474b55;
  color: #fff;
  text-align: center;
  .contentContainer, .content {
    background-color: #474b55;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  h1 {
    font-size: 45px;
    line-height: 55px;
  }
  input {
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid grey;
    &:focus {
      outline: none;
      border-bottom: 2px solid #4b7df1;
    }
  }
}

.header {
  h1 {
    color: #474b55;
    font-size: 35px;
    font-weight: 500;
    line-height: 48px;
  }
  .landingNav {
    list-style-type: none;
    li {
      color: #474b55;
      font-size: 20px;
      line-height: 48px;
    }
  }
}

.createRoomButton a,
.joinRoomButton a {
  font-size: 20px;
  line-height: 30px;
  color: #fffcf0;
  border-radius: 3px;
}

.termsOfService {
  color: #4bc8f1;
}

.createRoomButton a {
  background-color: #4b7df1;
}

.joinRoomButton a {
  background-color: #ff1e78;
}
