//Variables

// Fonts
$font-primary: 'Lato', sans-serif;

// Colors
$storm-primary: #333;
$storm-blue: #325691;
$storm-blueLight: #3f64a1;
$storm-blueGray: #5b78a7;
$storm-orange: #FF5722;
$storm-coral: #e57373;
$storm-green: #4CAF50;
$storm-lightGreen: #8BC34A;
$storm-cyan: #00BCD4;
$storm-lightGray: #ededed;
$storm-darkGray: #2e373e;
$storm-primaryBlue: #34578F;
$storm-secodaryBlue: #41659F;
$storm-backgroundBlue: #2E373D;
$storm-primaryLightGrey: #FBFBFB;
$storm-secondaryLightGrey: #D7D7D7;
$storm-textWhite: #FFFFFF;
$storm-textDarkGrey: #212121;
$storm-activeGreen: #69BA6D;
$storm-errorRed: #F06E7F;
$storm-warningYellow: #FFC36B;
$storm-deactivatedGrey: #B6B6B6;
$storm-disabledGray: #9E9E9E;
$storm-voting-bgColor: #FDE3A7;
$storm-workspace-bgColor: #F2F6F7;
