//Variables

// Fonts
$font-primary: 'Lato', sans-serif;

// Colors
$storm-primary: #333;
$storm-blue: #325691;
$storm-blueLight: #3f64a1;
$storm-blueGray: #5b78a7;
$storm-orange: #FF5722;
$storm-coral: #e57373;
$storm-green: #4CAF50;
$storm-lightGreen: #8BC34A;
$storm-cyan: #00BCD4;
$storm-disabledGray: #9E9E9E;