@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/* VALUES */
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$voting-bgColor: #FDE3A7;
$workspace-bgColor: #F2F6F7;


/* GENERAL */
body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #fff;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 14px;
}

.appContainer{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.noSelect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noMargin {
  margin: 0;
}

.noPadding {
  padding: 0;
}

.idea {
  font-size: 30px;

  &.deleting {
    background-color: red;
  }
}


/* LANDING PAGE */
.landingPage{
  text-align: center;
}

.button {
  display: inline-block;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 14px;
  &:hover {
    color: white;
  }
}


<<<<<<< HEAD
/* SIDEBAR */
#sidebar {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #999;
  vertical-align: middle;
  #sidebar-info {
    padding: 10px 20px;
    .sidebar-section {
      margin: 20px 0;
      /* Room Info Box */
      #room-name {
        margin-bottom: 10px;
      }
      /* Member List */
      .circleMemberIcon {
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 7px;
        margin-right: 10px;
        color: white;
        background-color: black;
        border-radius: 50%;
        display: inline-block;
      }
      /* Vote Check */
      .vote-check {
        -ms-transform: scale(2);
        -moz-transform: scale(2);
        -webkit-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2);
      }
      .vote-text {
        font-size: 12px;
        margin-left: 10px;
        &:nth-child(3) {
          margin-left: 20px;
        }
      }
    }
  }
}
=======
>>>>>>> 0095fc256351a8a40e83b3ae2d304849a48550b7

/* Timer */
.timerBox {
  display: inline-block;
  margin: 10px 0;
  .progress {
    border-radius: 0px;
    height: 25px;
    text-align: center;
    filter: brightness(100%);
    margin-bottom: 0px;
    .timer {
      font-size: 25px;
      line-height: 25px;
      display: inline-block;
      position: absolute;
      transform: translateX(-50%);
    }
    .progress-bar {
      -webkit-transition: width 1s linear;
      transition: width 1s linear;
    }
  }
  .timer-btn {
    cursor: pointer;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    &.start {
      color: green;
    }
    &.stop {
      color: red;
    }
  }
}

.wordbank {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-color: #bbb;
  z-index: 100;
  width: 100%;
  transition: width 0.5s ease-in-out;
  &.expanded {
    width: 200%;
  }
  .wordbankIdeas {
    flex-grow:1;
    overflow: auto;
    .bankCard {
      color: white;
      font-size: 30px;
      padding: 10px;
      background-color: red;
      display: inline-block;
      margin: 5px;
    }
  }
  .expandColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .expandArrow {
      width: 0;
      height: 0;
      margin: 0px 5px 0px 10px;
      &.right {
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 10px solid black;
      }
      &.left{
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 10px solid black;
      }
    }
  }
}

.sidebar-create {
  padding: 10px;
  .idea-create {
    padding: 0 10px;
    width: 100%;
    height: 30px;
    color: rgb(200, 200, 200);
    appearance: none;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    background-color: $primary-color;
  }
}

.vote-text {
  margin-left: 10px;
  font-size: 15px;
}

.vote-waiting {
  margin: 0 0 0 30px;
  font-size: 15px;
}

.idea-create {
  padding: 0 10px;
  width: 260px;
  height: 30px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: 12px;
}

/* NAVBAR */
.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: gray;
  z-index: 2;
  .navBarTab {
    display: inline-block;
    padding: 12px 45px;
    font-size: 14px;
    color: $workspace-bgColor;
    background-color: coral;
    cursor: pointer;
    &.is-selected {
      color: $primary-color;
      background-color: $workspace-bgColor;
    }
  }
  .btn-link {
    color: $primary-color;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
/* dropdown menu */
.dropdown-menu {
  width: 200px;
  .dropdown-item {
    padding: 3px 20px;
  }
  .dropdown-text {
    font-size: 10px;
  }
}

/* WORKSPACE */
.dragContainer, .workspace {
  background-color: $workspace-bgColor;
  flex-grow:1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.workspace {
  height:100vh;
  width: 100%;
  overflow:none;
}

.workspaceCard {
  color:white;
  font-size:30px;
  background-color: green;
  margin: 10px;
}

.ideaGroup {
  background-color: yellow;
  display:inline-block;
  position: absolute;
}

.trashCan {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45px;
  margin: 30px 20px 20px 30px;
}


/* RESULTS */
.results {
  width: 100%;
  height: 100vh;
  padding: 60px 40px;
  box-sizing: border-box;
  overflow-y: auto;
  .resultContainer {
    display: inline-block;
    margin: 15px 90px 50px 0;
    vertical-align: top;
    .resultGroup {
      display: inline-block;
      &.is-selectable {
        cursor: pointer;
      }
      &.is-selected {
        border: 3px solid gold;
      }
      .resultGroupItem {
        font-size: 25px;
        text-align: center;
        color: white;
        background-color: MediumSeaGreen;
        margin: 2px;
        padding: 10px 30px;
      }
    }
    .resultVotes {
      display: inline-block;
      color: $primary-color;
      vertical-align: top;
      margin-left: 5px;
      .resultVotesStar {
        color: gold;
        font-size: 35px;
        line-height: 1;
        padding: 0 4px;
        line-height: 0.8;
      }
      .resultVotesNumber {
        position: relative;
        top: -5px;
      }
    }
  }
}

.otherResults {
  display: inline-block;
}

.resultsControls {
  float: right;
  margin: 18px 0;
}

.resultsControls > a {
  cursor: pointer;
  margin-left: 25px;
  color: dodgerblue;
  &.is-disabled {
    color: gray;
    cursor: auto;
  }
}


/* VOTING */
.votingContent {
  background-color: $voting-bgColor;
  padding: 110px 30px;
  text-align: center;
}

.votingResults {
  background-color: $voting-bgColor;
  padding: 40px;
}

.votingResults-ideas {
  margin-bottom: 38px;
}

.yesButton {
  background-color: green;
  margin-right: 20px;
}

.noButton {
  background-color: gray;
}
