{
  "extends": "airbnb/base",
  "plugins": [
    "react"
  ],
  "rules": {
    "func-names": 0,
    "default-case": 1,
    "no-else-return": 0,
    "padded-blocks": 0,
    "max-len": [1, 80, 2]
  },
  "ecmaFeatures": {
    "jsx": true
  }
}
