$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$voting-bgColor: #FDE3A7;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #fff;
}

.votingContent {
  background-color: $voting-bgColor;
  padding: 110px 30px;
  text-align: center;
}

.votingResults {
  background-color: $voting-bgColor;
  padding: 40px;
}

.votingResults-ideas {
  margin-bottom: 38px;
}

.idea {
  font-size: 30px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 3px;
  margin-top: 40px;
}

.yesButton {
  background-color: green;
  margin-right: 20px;
}

.noButton {
  background-color: red;
}

.sideBar {
  width: 300px;
  height: 500px;
  background-color: #999;
  display: inline-block;
  vertical-align: middle;
}

.dragContainer, .workspace {
  background-color: #ddd;
  height: 500px;
  width: 800px;
  display: inline-block;
  vertical-align: middle;
}
.bankCard {
  color: white;
  font-size: 30px;
  padding: 10px;
  background-color: red;
  display: inline-block;
  margin: 5px;
}

.appContainer{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.workspaceCard {
  color:white;
  font-size:30px;
  background-color: green;
  position:relative;
  display:inline-block;
  margin: 10px;
}
.ideaGroup {
  background-color: yellow;
  display:inline-block;
  //padding:10px;
}

.timerBox { 
  background-color: cyan;
  display: inline-block;
  
}

.checkbox {
  display: inline-block;
}
.timer {
  display: inline-block;
}

.circleMemberIcon {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
  color: white;
  background-color: black;
  border-radius: 50%; 
  display: inline-block;
}

.membersList{
  margin-bottom: 1.5em;
}
