$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #fff;
}

.votingSection {
  width: 380px;
  background-color: #FDE3A7;
  padding: 110px 30px;
  margin: 150px auto 0;
  text-align: center;
}

.votingResults {
  background-color: #DCC6E0;
  width: 400px;
  margin: auto;
  padding: 40px;
}

.votingResults-ideas {
  margin-bottom: 38px;
}

.idea {
  font-size: 30px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  color: white;
  background-color: cornflowerblue;
  cursor: pointer;
  padding: 10px 50px;
  border-radius: 3px;
  margin-top: 40px;
}

.voteYesButton {
  background-color: green;
  margin-right: 20px;
}

.voteNoButton {
  background-color: red;
}

/* Styles for Sprint-1-organize*/
.dragContainer .workspace {
  background-color: #ddd;
  height: 500px;
  width: 500px;
}
.bankCard {
  color: white;
  font-size: 30px;
  padding: 10px;
  background-color: red;
  display: inline-block;
  margin: 5px;
}

.workspaceCard {
  color:white;
  font-size:30px;
  background-color: green;
  position:relative;
  display:inline-block;
  margin: 10px;
}
.ideaGroup {
  background-color: yellow;
  display:inline-block;
  //padding:10px;
}

