//import vars and mixins to use
@import '../_vars';
@import '../_mixins';

/* Media queries for landing page */

@media (max-width: 1440px) {
  .dougShoesImg,
  .dougImg {
    display: none;
  }
  .page3 {
    .textContainer {
      margin-right: 50px !important;
    }
  }
  .page4 {
    .poweredByImg {
      width: 250px !important;
      height: 250px !important;
    }
  }
}

@media (max-width: 1200px) {
  .page1 {
    .contentRow {
      flex-direction: column !important;
    }
  }
  .page2 {
    .textContainer {
      width: 100%;
      padding: 0px 50px;
      box-sizing: border-box;
    }
    .images {
      .laptopImg {
        width: 90% !important;
      }
    }
  }
  .page3 {
    .contentContainer {
      flex-direction: column !important;
    }
    .textContainer {
      max-width: 100% !important;
      margin-bottom: 50px;
      padding: 0 5%;
    }
    .images {
      width: 100% !important;
      max-width: 100% !important;
      .whiteboardImg {
        width: 90%;
        padding: 0 5%;
      }
    }
  }
  .page4 {
    .textContent {
      p {
        font-size: 35px !important;
      }
    }
    .poweredByImg {
      display: block;
      margin: 0 !important;
    }
  }
}

@media (max-width: 870px) {
  .page1 {
    .contentRow {
      flex-direction: column !important;
    }
    .codyImg {
      display: none;
    }
  }
  .page2 {
    .images {
      margin-bottom: 0px !important;
    }
    .textContainer {
      padding: 0px 20px !important;
      h1 {
        font-size: 30px !important;
        line-height: 30px !important;
      }
      p {
        font-size: 18px !important;
      }
    }
  }
  .page5 {
    .textContent {
      font-size: 25px !important;
    }
  }
}
