//import vars and mixins to use
@import '../_vars';
@import '../_mixins';

.resultContainer.selectable {
  &.is-deselected {
    background-color: $storm-disabledGray;

    .resultIdea {
      background-color: rgba(255, 255, 255, 0.2);
    }

    .resultVotesNumber, .resultPlusIcon {
      color: $storm-disabledGray;
    }
  }
}

.navBar .navBarTab.is-selected {
  background-color: $storm-workspace-bgColor;
}

.trashCan {
  &.is-hover {
    background: #f8f8f8;
  }
  &.is-deleting {
    background: #f26d7d;
  }
}

.resultGroup {
  &.is-selectable {
    cursor: pointer;
  }
  &.is-selected {
    border: 3px solid gold;
  }
}

.resultsControls > a {
  &.is-disabled {
    color: gray;
    cursor: auto;
  }
}
